/*
Syntax error: Invalid CSS after " * ": expected "{", was "@file"
        on line 2 of /websites/StBernardTourism/volunteer/sites/all/themes/bno_volunteer/sass/_bnovolunteer.scss
        from line 24 of /websites/StBernardTourism/volunteer/sites/all/themes/bno_volunteer/sass/styles.scss

1: /websites/StBernardTourism/volunteer/sites/all/themes/bno_volunteer/sass/styles.scss

Backtrace:
/websites/StBernardTourism/volunteer/sites/all/themes/bno_volunteer/sass/_bnovolunteer.scss:2
/websites/StBernardTourism/volunteer/sites/all/themes/bno_volunteer/sass/styles.scss:24
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/scss/parser.rb:1306:in `expected'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/scss/parser.rb:1242:in `expected'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/scss/parser.rb:1237:in `tok!'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/scss/parser.rb:635:in `block'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/scss/parser.rb:629:in `ruleset'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/scss/parser.rb:654:in `block_child'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/scss/parser.rb:644:in `block_contents'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/scss/parser.rb:41:in `parse'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/engine.rb:409:in `_to_tree'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/engine.rb:303:in `block in to_tree'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/util.rb:442:in `silence_sass_warnings'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/engine.rb:303:in `to_tree'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/stack.rb:88:in `block in with_import'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/stack.rb:121:in `with_frame'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/stack.rb:88:in `with_import'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/stack.rb:79:in `block in with_base'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/stack.rb:121:in `with_frame'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/stack.rb:79:in `with_base'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/tree/root_node.rb:20:in `render'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/engine.rb:275:in `block in render'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/util.rb:442:in `silence_sass_warnings'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.0/lib/sass/engine.rb:275:in `render'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:166:in `block in compile'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/logger.rb:46:in `red'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:165:in `compile'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `each'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `block in run'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:126:in `run'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/schmook/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/commands/watch_project.rb:47:in `perform'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/commands/base.rb:18:in `execute'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/commands/project_base.rb:19:in `execute'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/bin/compass:30:in `block in <top (required)>'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/bin/compass:44:in `call'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.0.alpha.19/bin/compass:44:in `<top (required)>'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/bin/compass:23:in `load'
/Users/schmook/.rvm/gems/ruby-2.0.0-p247/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \" * \": expected \"{\", was \"@file\"\A         on line 2 of /websites/StBernardTourism/volunteer/sites/all/themes/bno_volunteer/sass/_bnovolunteer.scss\A         from line 24 of /websites/StBernardTourism/volunteer/sites/all/themes/bno_volunteer/sass/styles.scss\A \A 1: /websites/StBernardTourism/volunteer/sites/all/themes/bno_volunteer/sass/styles.scss"; }
