/**
 * @file
 * SMACSS Theme
 *
 * Adds styles for BNO Volunteer
 *
 */
 body {
   background: none repeat scroll 0 0 $biege;
   color: $blue;
 }
 #page {
 }
.form-required {
  color: $red;
}
#main-menu {
  ul {
	li {
		border: 1px solid $blue;
		padding: 10px!important;
	  a {
	  	color: $red;
	  	display: block;
	  	text-decoration: none;
	  	text-transform: uppercase;
	  }
	  a:hover {
	  	color: $blue;
	  }
	}
	li:hover {
		background: none repeat scroll 0 0 $white;
	}	
  }
}