/**
 * @file
 * SMACSS Theme
 *
 * Adds styles for BNO Volunteer
 *
 */
 body {
   background: none repeat scroll 0 0 $biege;
   color: $blue;
 }
 #page {
 }
.form-required {
  color: $red;
}
#main-menu {
  ul {
	li {
		padding: 0px!important;
	  a {
		background: none repeat scroll 0 0 $white;
	  	color: $red;
	  	display: block;
	  	padding: 0.68em;
	  	text-decoration: none;
	  	text-transform: uppercase;
	  }
	  a:hover {
		background: none repeat scroll 0 0 $biege;
	  	color: $blue;
	  }
	}
	li:hover {
	}	
  }
}