/**
 * @file
 * SMACSS Theme
 *
 * Adds styles for BNO Volunteer
 *
 */
 body {
   //@include zen-grid-background();
   background: url("../images/battleBG.jpg") no-repeat fixed top center $biege;
   color: $blue;
 }
 #page {
   background: none repeat scroll 0 0 rgba(210, 208, 191, 0.75);
 }
.form-required {
  color: $red;
}
.header__region {
  clear: none;
}
#header {
}
h1 {
  color: $red;
}
#block-system-main-menu {
	margin: 0;
  ul {
  	margin: 0;
  	padding: 0;
	li {
		padding: 0px!important;
		float: left;
		list-style: none outside none;
		margin-left: 0.1em;
	  a {
	  	color: $white;
	  	display: block;
	  	text-align: center;
	  	text-decoration: none;
	  	text-transform: uppercase;
	  	width: 282px;
	  }
	  a:hover {
		background: none repeat scroll 0 0 $biege;
	  	color: $blue;
	  }
	  a.active-trail {
		//background: none repeat scroll 0 0 $biege;
	  	//color: $blue;	  	
	  }
	}
	li:hover {
	}
	li:nth-child(1) {
	  background: none repeat scroll 0 0 $blue;
	  a {
	  	padding: 128px 0;
	  }
	}
	li:nth-child(2) {
	  background: none repeat scroll 0 0 $red;
	  a {
	  	padding: 128px 0;
	  }
	}
  }
}
input {
    color: $blue;
}
input:focus {
    background: none repeat scroll 0 0 $biege;
    color: $red;
}